{% extends 'base.html' %}
{% set active_page = 'index' %}

<head>
    {% block head %} 
    {{ super() }}
    <link rel="stylesheet" href="/static/contact_fom_style.css">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js" async></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    {% endblock %}

</head>

<body>
    {% block content %}

    <!-- contact form-->

    <div class="container contact_us">
        
        <div class="row">
            <div class="col-lg-6" id = "col1">
                <p id = "title_primary">Contact Us</p>
                <p id = "title_secondary">We Will Get back to you soon</p>
                <lottie-player id = "contact_anime" src="https://assets3.lottiefiles.com/packages/lf20_w5IPa6MSf6.json"  background="transparent"  speed="1" loop  autoplay></lottie-player>
            </div>
            <div class="col-lg-6" id = "col2">
                
                <div id = "alert_message" class="alert hide">
                    <i class="fa-solid fa-circle-info fa-bounce">

                    </i>
                </div>

    

                    <form action="/contact" method="POST" onsubmit="return validate()">
                            <input class="ip_f" type="text" name="name" id="name" placeholder = "Name">
                            <input  class="ip_f" type="text" name="email" id="email" placeholder = "Email">
                            <textarea  class="ip_f" name="message" id="message" cols="30" rows="4" placeholder="Your message...."></textarea>

                            <button id = "send_button" class = "ip_f">Send</button>
                    </form>
            
            </div>
        </div>

        
    </div>

    <script>
         
            //input validation

function validate(){
    var name = document.querySelector("#name");
    var email = document.querySelector("#email");
    var message = document.querySelector("#message");
    var alert_box = document.querySelector("#alert_message");
                
                
    const email_regex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/


    if(name.value.trim() == ''){
        alert_box.innerHTML = ''
        var alert_text = document.createTextNode("Enter Name, name is required!")
        alert_box.appendChild(alert_text)

        alert_box.classList.remove('hide')
        alert_box.classList.add('alert-danger')
        name.style.border = '1px solid red'

        setTimeout(() => {
                alert_box.classList.add('hide')
                alert_box.classList.remove('info-danger')
                name.style.border = '2px solid rgb(158, 158, 158)';
        }, 3000);

        return false;

        }else if(email.value.trim() == '' || (! (email.value.trim().match(email_regex)) ) ) {
                    
            alert_box.innerHTML = ''
            var alert_text = null;

            if (email.value.trim() == ''){
                alert_text =  document.createTextNode("Email is required !")
                        
            }else{
                alert_text = document.createTextNode("Enter a valid email")
            }

            alert_box.appendChild(alert_text)
                    
                    
            alert_box.classList.remove('hide')
            alert_box.classList.add('info-danger')
            email.style.border = '1px solid red'

                    

            setTimeout(() => {
                alert_box.classList.add('hide')
                alert_box.classList.remove('info-danger')
                email.style.border = '2px solid rgb(158, 158, 158)';
            }, 3000);
                    
            return false;

        }else if(message.value.trim() == ''){
            alert_box.innerHTML = ''
            var alert_text = document.createTextNode("Enter Message, message is required!")
            alert_box.appendChild(alert_text)

            alert_box.classList.remove('hide')
            alert_box.classList.add('info-danger')

            message.style.border = '1px solid red';


            setTimeout(() => {
                alert_box.classList.add('hide')
                alert_box.classList.remove('info-danger')
                message.style.border = '2px solid rgb(158, 158, 158)';
            }, 3000);

            return false;
            }

                
        return true;
    }

    </script>

    {% endblock %}
</body>